.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  height: 75px;
  align-items: center;
  padding: 0 1em;
  background-color: white;
  z-index: 1;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

body[data-mode="dark"] .nav {
  color: white;
  background-color: black;
}

.nav__left {
  width: 70%;
  display: flex;
}

.nav__right {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav .nav__item {
  padding: 0.3em 0;
  position: relative;
  margin-right: 1em;
  cursor: pointer;
  font-size: 1.2rem;
  overflow-x: hidden;
}

@media screen and (max-width: 400px) {
  .nav .nav__item {
    font-size: 1rem;
  }
}

.nav__item-reveal {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1.5px;
  background-color: rgba(0, 0, 0, 0.8);
  transform: translateX(-101%);
  transition: transform 0.5s ease;
}

body[data-mode="dark"] .nav__item-reveal {
  background-color: white;
}

.mode-btn i {
  pointer-events: none;
}
body[data-mode="dark"] .mode-btn {
  color: rgb(230, 230, 112);
}
